@import "ui-variables";
@import 'variables';
@import "fonts";
@import "icons";
@import "tooltip";

.project-root.git-status-modified {
  .header-git-status {
    color: @text-color-warning;
  }
}

.project-root .header.list-item {
  .tree-view-git-status::before {
    content: "["
  }
  .tree-view-git-status::after {
    content: "]"
  }
  .tree-view-git-status {
    margin-left: 5px;

    span {
      margin-right: 5px;
    }
    span:last-child {
      margin-right: 0px;
    }
    .commits-ahead-label::before {
      font-size: @font-size * 0.8;
      margin-right: 2px;
      .icon-long-arrow-up;
    }
    .commits-behind-label::before {
      font-size: @font-size * 0.8;
      margin-right: 2px;
      .icon-long-arrow-down;
    }

    // Git Flow
    .branch-label__prefix,
    .branch-label__icon {
      &--feature {
        color: @text-color-flow-feature;
      }
      &--release {
        color: @text-color-flow-release;
      }
      &--hotfix {
        color: @text-color-flow-hotfix;
      }
      &--develop {
        color: @text-color-flow-develop;
      }
      &--master {
        color: @text-color-flow-master;
      }
    }
    .branch-label__icon,
    .branch-label__icon:before {
      width: auto;
      padding-left: .1rem;
      margin-right: .2rem;
      font-size: 1rem;
    }
  }
}
